body {
	background: #393B48;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color:#fff;
	font-size: 16px;
	font-family: sans-serif;
}

.game {
	display: flex;
	border: 5px solid #fff;
	max-width: 800px;
	max-height: 680px;
	padding: 20px;
	padding-bottom: 70px;
	border-radius: 3px;
	justify-content: space-between;
}

.user-left {
	width: 220px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 15px;
}

.center-info {
	width: 276px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 10px;
}

.comp-rigt {
	width: 220px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 15px;
}

.user-field, .comp-field {
	display: flex;
	flex-wrap: wrap;
}



.game h1 {
	font-size: 30px;
	text-align: center;
}

.figure-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 20px;
}

.field {
	width: 100px;
	height: 100px;
	cursor: pointer;
	border-radius: 50%;
	border:4px solid #fff;
	cursor: pointer;
	margin:5px;
	transition:.2s;
	overflow: hidden;
	box-shadow: 2px 2px 3px #783a67;
	outline: none;
}

.comp-field .field{
	box-shadow: 2px 2px 3px #0f132d;
}

.result, .user-choice {
	text-align: center;
}

.user-choice {
	height: 40px;
	line-height: 40px;
}

.user-choice label{
	border: 1px solid #fff;
	padding: 10px;
}

input[type="radio"] {
    display: none;
}

/* Стили для кнопки "Атакуем!" */
#att:checked + label {
    background-color: red; /* Красный фон для выбранной метки */
    color: white; /* Белый текст для выбранной метки */
}

/* Стили для кнопки "Защищаемся!" */
#def:checked + label {
    background-color: blue; /* Синий фон для выбранной метки */
    color: white; /* Белый текст для выбранной метки */
}

p, .count{
	border: 3px solid #fff;
	width: 220px;
	height: 50px;
	line-height: 50px; /* Равняем по высоте контейнера */
    text-align: center;
	margin: 0;
	font-size: 20px;
}

.h3 {
	margin: 0;
}

.field.active {
	background-color: green;
}
.field.error {
	background-color: red;
}

.water {
	background: url(../img/water.svg) center no-repeat;
}
.ground {
	background: url(../img/ground.svg) center no-repeat;
}
.air {
	background: url(../img/air.svg) center no-repeat;
}
.fire {
	background: url(../img/fire.svg) center no-repeat;
}
.grass {
	background: url(../img/grass.svg) center no-repeat;
}

@keyframes blink {
	100% {background-color: green;}
}
.buttons {
	padding:20px 15px;
	text-align: center;
}
.buttons button {
	margin:0 8px;
	cursor:pointer;
	border:none;
	border-radius:30px;
	color:#fff;
	text-transform: uppercase;
	padding:10px 20px;
	font-weight: bold;
	font-size: 16px;
	box-shadow: 2px 3px 0 #0c4e00;
	transition:.2s;
	outline: none;
}
.buttons button:hover,
.buttons button:active {
	transform:translate(1px,1px);
	box-shadow: 1px 1px 0 #0c4e00;
}

.play {
	background: linear-gradient(180deg, #00cb48, #126e01);
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Модальное окно всегда поверх */
}

.modal-content {
    background-color: #242323;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	
}

.bg-win {
    background: url(../img/win.png) center;
}

.bg-loss {
    background: url(../img/loss.png) center;
}

button {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 800px) {
    .game {
		max-width: 302px;
		max-height: 840px;
		flex-direction: column;
	}

	.user-left {
		width: 302px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;
	}
	
	.center-info {
		width: 300px;
		gap: 10px;
		order: -1;
		margin-bottom: 40px;
	}
	
	.comp-rigt {
		width: 302px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;
	}

	.field {
		width: 60px;
		height: 60px;
		
	}

	.water {
		background: url(../img/water-mob.svg) center no-repeat;
	}
	.ground {
		background: url(../img/ground-mob.svg) center no-repeat;
	}
	.air {
		background: url(../img/air-mob.svg) center no-repeat;
	}
	.fire {
		background: url(../img/fire-mob.svg) center no-repeat;
	}
	.grass {
		background: url(../img/grass-mob.svg) center no-repeat;
	}

	p, .count{
		width: 140px;
		height: 40px;
		line-height: 40px; 
		font-size: 16px;
	}

	.comp-text {
		order: -1;
	}

}